.homeWrapper {
  background-color: #000e1c;
  padding: 8rem 10% 10% 10%;

  .mainSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .descriptionWrapper {
      padding-top: 3.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: "Sarabun" sans-serif;
      color: #fff;
      .title {
        font-weight: 600;
        font-size: 5em;
        line-height: 6rem;
      }
      .subtitle {
        font-weight: 400;
        font-size: 1rem;
        margin-top: 10px;
        line-height: 2rem;
      }

      .description {
        margin-top: 3.9rem;
        font-weight: 500;
        opacity: 0.6;
        font-size: 1.45rem;
        line-height: 2em;
      }

      .button {
        margin-top: 4rem;
      }
    }
    .videoWrapper {
      overflow: hidden;
      object-fit: contain;
      position: relative;
      overflow: visible;
      margin-top: 10px;
      width: 50%;
      height: 50%;
      .videoContainer {
        overflow: hidden;
        border-radius: 80px 80px 0 80px;
        .video {
          object-fit: fill;
          width: 100%;
          height: 100%;
        }
      }

      .serveBlock {
        padding: 30px 30px 36px 30px;
        border-radius: 6px;
        bottom: 20%;
        left: -40px;
        position: absolute;

        max-width: 252px;
        max-height: 252px;
        background-color: #fff;
        z-index: 1;
        box-shadow: 0px 22px 44px rgba(49, 56, 91, 0.1);
      }
    }
  }
  .companiesWrapper {
    margin-top: 7.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoWrapper {
      width: 12%;
      height: 47px;
      transition: all 500ms;
      opacity: 1;
      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .opacity {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1440px) {
  .homeWrapper {
    padding: 10rem 7% 10%;
    .mainSection {
      .descriptionWrapper {
        .title {
          font-weight: 600;
          font-size: 4em;
          line-height: 6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  .homeWrapper {
    // padding: 4rem 7% 10%;
    padding: 10rem 10% 10% 10%;

    .mainSection {
      flex-direction: column-reverse;
      .descriptionWrapper {
        width: 100%;
        .title {
          font-weight: 600;
          font-size: 5em;
          line-height: 6rem;
        }
        .subtitle {
          font-size: 1.2rem;
        }

        .description {
          // margin-top: 3.9rem;
          // font-weight: 500;
          opacity: 0.6;
          font-size: 1.65rem;
          line-height: 2em;
        }

        .button {
          width: 100%;
        }
      }

      .videoWrapper {
        width: 90%;
        height: 50%;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .homeWrapper {
    // padding: 4rem 7% 10%;
    .mainSection {
      flex-direction: column-reverse;
      .descriptionWrapper {
        .title {
          font-weight: 600;
          font-size: 3em;
          line-height: 3rem;
        }
        .subtitle {
          font-size: 0.9rem;
        }

        .description {
          margin-top: 34px;
          font-size: 1.425rem;
        }
        .button {
          margin-top: 40px;
        }
      }

      .videoWrapper {
        .videoContainer {
          border-radius: 32px 32px 0 32px;
        }
        width: 90%;
        height: 50%;
      }
    }
    .companiesWrapper {
      .logoWrapper {
        width: 28%;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .homeWrapper {
    // padding: 4rem 7% 10%;

    .companiesWrapper {
      margin-top: 4rem;
      .logoWrapper {
        width: 40%;
      }
    }
  }
}
